h1{
    text-align: center;
}

img[data-src] {
    display: block;
    margin: 50px auto;
    align-items: center;
    min-width: 50px;
    min-height: 50px; 
}
img:hover {
    transform: scale(1.2);
}