/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #amazon{
        grid-column: 1/2;
    }
    #oldnavy{
        grid-column: 2/3;
    }
    #adobe{
        grid-column: 3/4;
    } 
    header, footer{
        width: auto;
    }
    #amazon, #oldnavy,#adobe{
        width: auto;
    }

}