caption {
    padding: 10px;
    caption-side: bottom;
    font-size: .85rem;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
  
th {
    padding: 8px;
    color:aliceblue;
    text-align: center;
    background-color: darkslategray;
}
td {
    border: 1px solid gray;
    padding: 8px;
    font-weight: 900;
}
tr:nth-child(even) {
    background-color:beige;
}

.empty{
    background-color: darkslategray;
}
.service{
    color:aliceblue;
    background-color:cadetblue;
}


