@media only screen and (min-width: 700px) {
    body{
        font-size: 1.5em;
    }
    nav ul li a {
        font-size: 30px;
    }
    #top-icons img {
        width:50px;
    }
    #hamburgerBtn {
        font-size: 3.5rem;
        margin-top: -80px;
    }
    /* FOOTER */
    .brand {
        font-size: 40px;
        padding-top: 0;
    }
    .logo-bottom img {
        width: 50px;
    }
    .social img {
        width: 40px;
    }
    .author{
        font-size: 20px;
    }

    /* MAIN */
    .title {
        font-size: 50px;
    }
    #forecast {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 10px;
    }
    #forecast div {
        width: 100%;
    }
    /* FRESH PAGE */
    #formField {
        font-size: 30px;
    }
    .is-hidden{
        margin: 30px;    
    }
    form fieldset {
        margin: 50px; 
    }
    .formTitle {
        padding: 30px;  
    }
    form label.top {
        padding-top: 3rem;  
       
    }
    form label.top input, form label.top select, form label.top textarea  {
        min-width: 30rem;
        padding: 20px;
    }
    form label.top select {
        min-width: 32.5rem;
    }
    form label.top textarea {
        padding-bottom: 200px;
    }

    /* ABOUT US */
   
    .old-market {
        width: 500px;
    }
    .background p{
        text-align: left;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px;
        align-items: center;
    }
    .contact-info {
        grid-column: 1/2;
    }
    .location {
        grid-column: 2/3;
    }
    .findUs {
        grid-column: 2/3;
    }
        

}