:root {
	/*Fonts*/
	--heading-font: 'Acme', sans-serif;
    --paragrap-font: 'Libre Baskerville', serif;
	/*Color scheme*/
	--primary-color:#226f54;
	--secondary-color: #f4f0bb ;
	--accent1-color: #da2c38;
	--accent2-color: #87c38f;
}
* {
    margin: 0;
    padding: 0;
}