:root{
	/*Fonts*/
	--heading-font: 'Acme', sans-serif;
    --paragrap-font: 'Libre Baskerville', serif;
	/*Color scheme*/
	--primary-color:#226f54;
	--secondary-color: #f4f0bb ;
	--accent1-color: #da2c38;
	--accent2-color: #87c38f;
}
* {
    margin: 0;
    padding: 0;
}
main {
	margin: 0 auto;
}
header{
	padding: 10px;
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #f4f0bb;
	font-family: var(--paragrap-font);
	
}
header a{
    text-decoration: none;
}
#my-logo {
	grid-column: 2/3;
} 
.logo-top img {
    width:120px; 
}
.search {
	display: none;
}
#top-icons {
	grid-column: 3/4;
	display: flex;
    justify-content: flex-end;
	gap: 10px;
}
#top-icons img {
	width:30px;
}
.navigation {
    grid-column: 1/4;

}
#hamburgerBtn {
    color: black;
    background-color: transparent;
    font-size: 2rem;
    border: none;
    display: flex;
    justify-content: flex-start;
	margin-top: -70px;

}
nav ul {
    list-style-type: none;
	padding-top: 30px;	
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: #f4f0bb;
	font-size: 20px;
    background-color: #226f54 ;
    padding: 1rem 1vw;
	text-align: center; 
	box-shadow: 1px 1px 10px #da2c38;
}
nav a:hover {
	color: orange;
    transition: 0.5s; 
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* FOOTER */
footer {
    text-align: center;
	border: 1px solid #226f54;
	font-family: var(--paragrap-font);
}
.logo-bottom img {
	width: 20px;
}
.brand {
	font-family: var(--heading-font);
	color: #226f54;
	padding-top: 5px;
	margin-left: -30px;
	font-size: 25px;
}
.social{
	padding: 10px;
	background-color: #f4f0bb;
	display: flex;
	justify-content: center;
	gap: 30px;
}
.social a {
	text-decoration: none;
}

.social img {
	width: 30px;
}
.author {
	background-color: #226f54;
	color: #f4f0bb;
	padding: 30px;
	font-size: 13px;
}

/* MAIN */

body{
	font-family: var(--paragrap-font);
	text-align: center;
	font-size: 18px;
	color: #013321;
}

.reach-out p{
	padding-top: 10px;
}
.reach-out h2{
	padding-top: 50px;
	color: #226f54;
}
#hero{
	background-color: #f4f0bb;
	padding: 10px;
}
.welcome-message h1 {
	color: #226f54;
}
#hero-img{
	width: 100%;
	box-shadow: 1px 1px 20px grey;
}

.drinkmix img, .maps-img, #brentwood-img  {
	max-width: 100%;
}
.products {
	padding: 10px;
}
.products img {
	max-width: 100%;
}
.title {
	text-align: center;
	font-family: var(--heading-font);
	color: #226f54;
	padding: 10px;
	font-size: 30px;
}
.service, .drinkmix, .about-location, .weather-section {
	box-shadow: 1px 1px 20px gainsboro;
	margin: 50px 20px;
	padding: 20px;
}
.drinkmix p{
	padding: 20px;
}
.orderBtn, .submit-Btn {
	margin-top: 20px;
	background-color: #226f54;
	padding: 20px;
	color: #f4f0bb;
	border: none;
	border-radius: 15px;

}
.orderBtn:hover, .submit-Btn:hover {
	background-color: orangered;
    transform: scale(1.2);
}
#total-drinks {
	text-decoration: underline;
	color: #226f54;
}
.about-location p {
	padding: 10px;
}
#day1-figcaption, #day2-figcaption, #day3-figcaption {
    text-transform: capitalize;
	padding: 20px;
}
#weather {
	display: block;
}
#weather div {
	padding: 20px;
}
#day1, #day2, #day3 {
	margin-top: 20px;
	border: 1px solid #226f54;
}
#weather span {
	font-weight: 900;
}
.date1, .date2, .date3 {
	color: #226f54;
	font-weight: 900;
	padding: 20px;
}
/* FRESH PAGE */
#formField {
	font-size: 18px;
	background-color: #fdfdf6;
}
.formTitle {
	padding: 20px;
	color: #226f54;
	font-family: var(--heading-font);
}
.drinks img {
	width: 50%;
}
#drinks-form {
	padding-top: 30px;
	color: #012c1d;
}
form fieldset {
    text-align: left;
    border: 1px solid #87c38f;
    border-radius: 10px; 
    margin-bottom: 50px; 
    padding: 10px;
    background-color: rgba(221, 251, 210, 0.389);
}
form label.top {
    display: block;
    padding-top: 10px;
  	margin-bottom: 20px;
}

form label.top input, form label.top select, form label.top textarea {
    display: block;
    border: 1px solid #87c38f ;
    border-radius: 5px;
    width: 100%;
    max-width: 15rem;
    background-color: rgba(152, 149, 149, 0.099);
    padding: 10px;
}
form label.top select {
    max-width: 16.5rem;
	color: #012c1d;
	padding-top: 10px;
  	margin-bottom: 20px;
}
form label.top textarea {
    padding-bottom: 100px;
}
form input.submit-Btn {
    border: none;
    background-color: #226f54;
    color: #f4f0bb;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 20rem;
}
input[type=number]:hover::-webkit-inner-spin-button {  
    height: 50px;
}
/* OUTPUTCARD */

.output-card {
	border: 1px solid #87c38f;
	padding: 1rem;
	margin: 1rem;
	background-color: rgba(248, 251, 210, 0.389);
	box-shadow: none;
  }
.inner-grid {
	display: block;
  }  
/* .is-hidden {
	display: none;
  } */

/* ABOUT US  */
.background, .contact {
	box-shadow: 1px 1px 20px gainsboro;
	margin: 30px 20px;
}
#thanks{
    padding: 30px;
    background-color: #cbf0d0;
    text-align: center;
	height: 100%;
}
.thanksTitle
{
    padding: 20px;
    color: #100E39;
}
.background {
	padding: 10px;
}
.background p{
	padding: 20px;
}

.contact-info {
	background-color: #cbf0d0;
	text-align: left;
	margin: 0 10px 20px;
	padding: 10px;
}
.contact-info p{
	padding-top: 20px;
}
.old-market{
	width:100%;
}
.pin {
	width: 30px;
}
.maps {
	color: #226f54;
	font-weight: 900;
}
.contact-form {
	padding: 10px;
}
.findUs {
	padding-bottom: 10px;
}
.bf-title {
	text-align: center;
	font-family: var(--heading-font);
	color: #226f54;
	padding-top: 30px;
}