:root{
	/*Color scheme*/
	--heading-font: 'Inter', sans-serif;
	--paragrap-font: 'PT Sans', sans-serif;
	/*Color scheme*/
	--primary-color:#100E39;
	--secondary-color:#4B496F;
	--accent1-color: #F5F5F5;
	--accent2-color:#FCD135;
}

html {
	font-size: calc(0.2rem + 1.5vw);
}

*{
	margin: auto;
	padding: 10px;
}

h1, h3, h5{
	font-family: var(--heading-font);
}

#topic{
	text-decoration-line: underline;
  	text-decoration-style: none;
  	text-decoration-color:#100E39;
	margin: 20px 5px 50px 5px;
}

header, footer{
    font-family: var(--heading-font);
    display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 5px;
    margin: 1em auto;
}
header{
	background-color: #4b496f;
	color: #F5F5F5;
}
footer{
	background-color: #4b496f;
	color: #F5F5F5;
}

#video{
	width: 50%;
}

nav {
	background-color:#100E39 ;
	text-align: center;
	box-shadow: 0 0 30px #333;
	display: flex;
	flex-direction: column;
	font-family: var(--paragrap-font);
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: #F5F5F5;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 1em;
}

nav a:hover {
	background-color:#4b496f;
}
main{
	font-family: var(--paragrap-font);
}

/* CSS Selectors  */
.categories{
	margin-left: 100px;
	padding: 30px auto;
	margin-bottom: 50px;
}
#types{
	margin-top: 50px;
}
.simple{
	width: 50%;
}
.codingTextTitle{
	background-color: #4b496f;
	align-items: center;
	color: #F5F5F5;
}
.codingText{
	display: block;
	background-color: whitesmoke;
}
.selectors{
	color: darkorange;
	padding: 5px;
	margin-top: 60px;
}
.example{
	color: darkblue;
	margin-bottom: 10px;
	text-decoration-line: underline;
  	text-decoration-style:none;
}
.codingImplication{
	margin-left: 1%;
	background-color: whitesmoke;	
}

table, th, td {
	border:5px solid black;
	width:auto;
	margin: 10px;
  }