:root {
	/*Fonts*/
	--heading-font: 'Inter', sans-serif;
	--paragrap-font: 'PT Sans', sans-serif;
	/*Color scheme*/
	--primary-color:#100E39;
	--secondary-color:#4B496F;
	--accent1-color: aliceblue;
	--accent2-color:#FCD135;
}

* {
    margin: 0;
    padding: 0;
}

header, footer, main, #banner, #formFied{
    text-align: center;
    margin: 0 auto;
  
}

header {
    display: grid;
    padding: 10px;
	grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    background-color: #FCD135; 
    font-family: var(--heading-font);
    align-items: center;
}
header a{
    text-decoration: none;
}
.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
	align-items: center;
}
.logo img {
    width:80px;
	height: auto;
}
.social {
    width: 80px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.social img {
    width: 30px;
}
.social a {
    text-decoration: none;
}
.headings {
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: left;
    color: #100E39;
}

nav button {
    grid-column: 3/4;
    grid-row: 1/3;
    color: #100E39;
    background-color: transparent;
    font-size: 2rem;
    border: none;
}
nav ul {
    list-style-type: none;
    padding: 5px;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: aliceblue;
    padding: .5rem 1vw;
    box-shadow: 1px 1px 5px #6f7364;
    background-color: #100E39;
}
nav a:hover {
	background-color: #4B496F;
    color: #FCD135;
}
nav ul {
    display: none;
    color: #100E39;
}
nav ul.open {
    display: block;
}
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

#date {
    grid-column: 1/5;
    grid-row: 2/3;
    background-color:#100E39;
    color:aliceblue;
    padding: 10px;
}

/* FOOTER */

.maps {
    color: #100E39;
    text-decoration: none;
}
.pin{
    width: 1em;
}

footer {
	background-color: #FCD135;
	color: #100E39;
    text-align: center;
    font-family: var(--heading-font);
}
.logoBottom {
    width: 30%;
}
footer p {
    padding: .3em;
}
footer hr {
    margin: 1em;
}
#myName1 {
    font-weight: bolder;
}
#bar1 {
    border: 2px solid aliceblue;
}
.author-medium-large {
    display: none;
}
.author-small {
    color: aliceblue;
    background-color: #100E39;
    padding-bottom: 10px;
}

/* MAIN */

main div{
    margin: 0.5rem;
    text-align: left;
    padding: 10px;
    color: aliceblue;
    font-family: var(--paragrap-font);
    box-shadow: 1px 1px 10px #100E39;
}
.sp3, #join {
    display: none;
}


/* W05 Assignment: Chamber Home Page Continued */
/* header {
    display: grid;
	grid-template-columns: 1fr 4fr 1fr;
} */
/* nav button {
    grid-column: 1/2;
} */
.logo {
    grid-column: 2/3;
    margin-left: -50px;
    width: 100%;
    margin-left: auto;
    margin-top: -10px;
}
.headings {
    grid-column: 3/4;
}
/* .social {
    grid-column: 4/5;
} */
#banner {
   background-color:#4B496F;
   text-align: center;
   padding: 20px;
   color: #FCD135;
   text-decoration:overline;
}
.hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
#hero {
    position: relative;
}
.overlay {
    width: 100%;
    padding: 10px;
    position: absolute;
    text-align: center;
	font-size: 1.5rem;
	text-shadow: .25rem .25rem .75rem #4B496F;
    color: #100E39;
}
.overlayBtn {
    position: absolute;
    background-color: #FCD135;
    color: #100E39;
    font-family: var(--heading-font);
    text-align: center;
    top:60%;
    right: 25%;
    left: 25%;
    padding: 10px;
    border-radius: 15px;
    border: none;
}
.overlayBtn:hover {
    background-color:orange;
    transform: scale(1.1);
}
#event, #weather, #news, #spotlight {
    background-color: #100E39;
    text-align: center;
    height: auto;
    padding-top: 20px;
}
.title1 {
    padding-top: 10px;
    color: yellow;
    text-shadow: 1px 1px 10px yellow;
    text-align: center;
    padding: 10px;
}
.title2 {
    padding-top: 20px;
    color:aliceblue;
}
.diamond {
    width: 1em;
}
#event p {
    color: aliceblue;
    padding: 20px;
    
}
.info {
    color: yellow;
}

#weather hr {
    margin: 10px;
}
#temp{
    margin-left: 50%;
    margin-top: -50px;
    padding-bottom: 50px;
}
.weather-img {
    width: 30%;
    margin-top: 20px;
    margin-right: 200px;
}
.cel {
    text-align: right;
    margin-right: 50px;
    margin-top: -50px;
    padding-bottom: 50px;
}
.descr1 {
    text-align: right;
    padding-right: 10px;
    margin-top: -30px;
    
}
.result {
    margin-left: 100px;
    text-align: center;
}
#news p {
    padding-top: 10px;
}
.sp-img {
    width: 30%;
}
.sp {
    height: auto;
    padding-top: 10px;
    color: aliceblue;
    text-align: center;
    background-color:#090556;
    box-shadow: 1px 1px 10px #FCD135;
}
.sp-text {
    font-style: italic;
    padding-bottom: 10px;
}
.sp-contact {
    font-size:small;
}

/* DISCOVER PAGE */
#discover {
    display: block;
}
#discover h2{
    color: #100E39;
    text-align: center;
    margin-top: 30px;
}
#discover p{
    color: #100E39;
    padding: 20px;
    font-family: var(--paragrap-font);
}
#discover div{
    margin: 30px;
    background-color: aliceblue;
}
#discover picture {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#discover img:hover {
    transform: scale(1.1);
    border: 1px solid #4B496F;
}
/* #discover img[data-src] {
    filter: blur(0.1em);
} */

#discover img{ 
    filter: blur(0em);
    transition: filter 3s;
    border: 1px solid #FCD135;
    box-shadow: 0px 0px 50px #4B496F;
    width: 100%;
  }

#timecount{
    text-align: center;
}

/* FORM FIELD */

.thanks{
    padding: 50px;
    background-color: aliceblue;
    text-align: center;
}
.thanksTitle
{
    padding: 20px;
    color: #100E39;
}
#formFied {
    display: block;
    font-family: var(--paragrap-font);
    font-size: 20px;
    width: 100%;    
}

.formTitle {
    text-align: center;
    color: #4B496F;
    padding: 20px;
}

form fieldset {
    text-align: left;
    border: 1px solid #100E39;
    border-radius: 10px; 
    margin-bottom: 50px; 
    margin-left: 20px; 
    margin-right: 20px;
    padding: 10px;
}

form legend {
    text-align: center;
    font-weight: 600;
    color: #4B496F;
    font-size: 20px;
}

form label.top, form label.middle,form label.text, form label.bottom {
    display: block;
    padding-top: 1rem;
    color: #4B496F;
}

form label.top input, form label.top select, form label.middle input, form label.middle select {
    display: block;
    border: 1px solid #4B496F ;
    border-radius: 5px;
    width: 90%;
    max-width: 20rem;
    background-color: rgb(223, 222, 233);
    color: #100E39;
    padding: 10px;
}

form label.bottom select, form label.bottom input {
    margin: 10px;
}
input[type="radio"] {
    transform: scale(1.5);
}
form label.text select, form label.text textarea {
    display: block;
    border: 1px solid #4B496F ;
    border-radius: 5px;
    background-color: rgb(223, 222, 233);
    color: #100E39;
    width: 100%;
    padding-bottom: 100px;
}

form input.submitBtn {
    border: none;
    background-color: #4B496F;
    color: aliceblue;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
    width: 90%;
    max-width: 20rem;
}

form input.submitBtn:hover {
    color: #FCD135;
    transform: scale(1.2);
}

/* form label.top input:required {
    border-left:  6px solid crimson;
}

form label.top input:required:valid {
    border-left:  6px solid green;
} */
#userChoice{
    box-shadow: none;
}

.hidden-np, .hidden-bronze, .hidden-silver, .hidden-gold {
    border: 1px solid #100E39;
    color: #4B496F;
    box-shadow: none;
    padding: 2rem;
  }

.hidden-np ul, .hidden-bronze ul, .hidden-silver ul, .hidden-gold ul {
    padding-left: 2rem;
    padding-top: 1rem;
}
.is-hidden{
    display: block;
    border: 1px solid #4B496F ;
    border-radius: 5px;
    background-color: rgb(223, 222, 233);
    color: #100E39;
}
