:root{
	/* Color scheme */
	--heading-font: 'Inter', sans-serif;
	--paragrap-font: 'PT Sans', sans-serif;
	/*Color scheme*/
	--primary-color:#100E39;
	--secondary-color:#4B496F;
	--accent1-color: #F5F5F5;
	--accent2-color:#FCD135;
}
html {
	font-size: calc(0.7rem + 1.5vw);
}

*{
    margin: 0;
    padding: 0;
}

h1, h3, h5, header, footer{
	font-family: var(--heading-font);
    max-width: 900px;
    align-items: center;
	justify-content: space-between;
    margin: 0 auto;
  
}

header{
    display: grid;
	grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: orchid;  
   
}
.logo{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
	align-items: center;
	margin-left: 1rem; 
}
.logo img{
    width: 50px;
	height: auto;
}
.social{
    width: 5em;
    grid-column: 2/3;
    grid-row: 1/2;
}
.headings {
    width: 11em;
	flex-direction: column;
	margin-left: .5rem;
    background-color: aqua;
}
.headings h1 {
	font-size: 1.25rem;
 
}
.social img {
    width: 1em;
    background-color: #FCD135;
}
nav button{
    grid-column: 3/4;
    grid-row: 1/2;
    color: #F5F5F5;
    background-color: transparent;
    border: none;
}

nav ul{
    list-style-type: none;
    background-color: bisque;
    flex-wrap: wrap;
}
nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #100E39;
}
nav a:hover {
	background-color:#FCD135;
}
nav ul{
    display: none;
}
nav ul.open {
    display: block;
}
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

.date{
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: aquamarine;
	color: #100E39;
    display: flex;
    padding: .8rem 2vw;
    border: 2px solid#100E39;
    justify-content: center;
    order: 5;
    flex: 1 0;
    max-width: 900px;
}

main{
	font-family: var(--paragrap-font);
}
.maps{
    color: #F5F5F5;
    text-decoration: none;
}
.pin{
    width: 1em;
}

footer{
	background-color: #4b496f;
	color: #F5F5F5;
    text-align: center;
    font-size: .8em;
    max-width: 900px;
}
.logoBottom{
    width: 30%;
}
footer p{
    padding: .5em;
}
footer hr{
    margin: 1em;
}
#myName{
    font-weight: bolder;
}
.copyright{
    padding-bottom: 1.5em;
}