:root{
	/*Font*/
	--heading-font: 'Inter', sans-serif;
	--paragrap-font: 'PT Sans', sans-serif;
	/*Color scheme*/
	--primary-color:#100E39;
	--secondary-color:#4B496F;
	--accent1-color: #F5F5F5;
	--accent2-color:#FCD135;
}
*{
    margin: 0;
    padding: 0;
}
main, header, footer{
    max-width: 1000px;
    text-align: center;
    font-size: 20px;
    margin: 20px auto;
}

header{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #FCD135;  
    font: var(--heading-font); 
    padding: 20px;
}
.logo{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
	align-items: center;
}
.logo img{
    width: 60px;
	height: auto;
}
.social{
    width:60px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.social img{
    width: 25px;
}
.headings {
    width: 150px;
    color: #100E39;
    margin-bottom: 10px;
}
nav{
    margin-right: 1em;
    margin-left: 1em;
}
button{
    grid-column: 3/4;
    grid-row: 1/2;
    color: #100E39;
    background-color: transparent;
    border:1px solid #4B496F; 

}
nav ul{
    list-style-type: none;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: #100E39;
}
nav a:hover {
	background-color:orange;
}
nav ul{
    display: none;
    color: #100E39;
}
nav ul.open {
    display: block;
}
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

#date{
    grid-column: 1/5;
    grid-row: 2/3;
    background-color:#100E39;
    color: #FCD135;
    padding-top: 10px;
}
/* MAIN */

main section{
    height: 300px;
    margin: 0.5rem;
	border: .5px solid ;
    text-align: left;
    padding: 20px;
    margin: 1em;
    background-color: #F5F5F5;
    color: #100E39;
    font: var(--heading-font);
}
#spotlight{
    display: block;
    border: 1px solid #100E39;
    padding: 10px;
}
.sp{
    height: 50%;
    border: 1.5px solid #4b496f;

}
#special, #join{
    display: none;
}

/* FOOTER */

.maps{
    color: #100E39;
    text-decoration: none;
}
.pin{
    width: 1em;
}

footer{
	background-color: #FCD135;
	color: #100E39;
    text-align: center;
    font: var(--heading-font);
    padding: 30px;
    
}
.logoBottom{
    width: 20%;
}
footer p{
    padding: .3em;
}
footer hr{
    margin: 1em;
}
#myName{
    font-weight: bolder;
}
.author{
    background-color: #100E39;
    padding-bottom: 1em;
    color: #FCD135;
}