/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); use link tag in HTML so no need to put this link here*/ 
@charset "utf-8";
:root {
    --font: 'Roboto', sans-serif;
}
body {
    font-family: var(--font);
    font-size: 1.5rem;
    line-height: 1.5;
    margin: auto;
}

header,
main,
footer {
    margin: 1em auto;
    max-width: 45rem;
    transform: scale(1.1);
    padding: 30px 30px;
}

header {
    box-shadow: 30px 30px 30px darkgrey;
    background-color: midnightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portrait {
    width: 300px;
}

h1 {
    width: 300px;
    grid-column: 2/3;
    font-size: 2.5rem;
    margin-top: 2em;
    margin-bottom: 3em;
    margin-right: 5em;
    text-align: center;
    color: whitesmoke;
}

h2 {
    text-align: left;
    color: midnightblue;
    text-shadow: 1px 1px 30px #6f7364;

}

.notes {
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 80px;

}

footer {
    background-color: midnightblue;
    color: whitesmoke;
    text-align: center;
    transform: scale(1.1);
    box-shadow: 30px 30px 30px darkgrey;
    padding: 30px 30px;
}

.update {
    color: yellow;
}